FORMAT: 1A
HOST: https://api.wakaf.org/
SANDBOX_HOST: http://api.sandbox.wakaf.org/

# Wakaf API

API documentation for Wakaf Application.
In every request must send `Accept:application/json` headers given that the response must a JSON type.

## Authentication [/auth]

### Register [POST /auth/register]

After registering, guest who has items in cart, will have those items migrated automatically to their user account.

+ Request (application/json)
    + Headers
        
            Accept: application/json

    + Body

            {
                "name": "Aldi Zainafif",
                "email": "aldi@zain.afif",
                "password": "aldi",
                "phone_number": "081234567890",
                "address": "Komp. Pesona Bali City View"
            }

+ Response 201 (application/json)

        {
            "data": {
                "token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJleHAiOjE2NDQ5MzE5NDB9.K6HcyF-mDYTpSLCX700nMYnauh9n6ClHvKM74_-sfyA",
                "expire_time": "2022-02-15T13:00:00.000Z",
                "user_id": 1,
                "name": "Aldi Zainafif",
                "email": "aldi@zain.afif",
                "phone_number": "081234567890",
                "address": "Komp. Pesona Bali City View"
            },
            "meta": {
                "http_status": 201
            }
        }

### Sign In [POST /auth/sign_in]

After logging in, guest who has items in cart, will have those items migrated automatically to their user account.

+ Request (application/json)
    + Headers
        
            Accept: application/json

    + Body

            {
                "email": "aldi@zain.afif",
                "password": "aldi"
            }

+ Response 200 (application/json)

        {
            "data": {
                "token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJleHAiOjE2NDQ5MzE5NDB9.K6HcyF-mDYTpSLCX700nMYnauh9n6ClHvKM74_-sfyA",
                "expire_time": "2022-02-15T13:00:00.000Z",
                "user_id": 1,
                "name": "Aldi Zainafif",
                "email": "aldi@zain.afif",
                "phone_number": "081234567890",
                "address": "Komp. Pesona Bali City View"
            },
            "meta": {
                "http_status": 200
            }
        }

### Guest In [POST /auth/guest_in]

Get token for non-login user (guest)

+ Request (application/json)
    + Headers
        
            Accept: application/json
            Cookie: APq-WBvPDfMS332qZ52w-ijzty97XmqwSg...

+ Response 200 (application/json)

        {
            "data": {
                "token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJleHAiOjE2NDQ5MzE5NDB9.K6HcyF-mDYTpSLCX700nMYnauh9n6ClHvKM74_-sfyA"
            },
            "meta": {
                "http_status": 200
            }
        }

## Banners Collection [/banners]

### Get Banners [GET /banners]

+ Request (application/json)
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "image_url": "https://wakaf.api/banner1.jpeg",
                    "order": 1,
                    "created_at": "2022-02-13T07:01:00.000Z",
                    "updated_at": "2022-02-13T07:01:00.000Z"
                }
            ],
            "meta": {
                "http_status": 200
            }
        }

## Products Collection [/products]

### Get Products [GET /products{?query,page,per_page,sort}]

+ Parameters
    + query: `wakaf` (string, optional) - String for product search
    + per_page: 10 (number, optional) - Number of requested records
    + page: 1 (number, optional) - The requested page number
    + sort: `most_popular` (enum, optional) - Product sort order by
        + `most_popular`
        + `least_popular`
        + `newest`
        + `oldest`
        + `price_lowest`
        + `price_highest`

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "name": "Wakaf Makanan Berbuka Puasa",
                    "price": 500000,
                    "description": "Wakaf untuk santri berbuka puasa",
                    "stock": 100,
                    "sold_count": 100,
                    "image": {
                        "id": 1,
                        "product_id": 1,
                        "image_url": "wakaf_makanan2.png",
                        "order": 1,
                        "created_at": "2022-02-13T07:52:00.000Z",
                        "updated_at": "2022-02-13T07:52:00.000Z"
                    },
                    "created_at": "2022-02-13T07:01:00.000Z",
                    "updated_at": "2022-02-13T07:01:00.000Z"
                }
            ],
            "meta": {
                "http_status": 200,
                "page": 1,
                "per_page": 10,
                "total": 1
            }
        }

### Get Product Detail [GET /products/{id}]

+ Parameters
    + id: 1 (number, required) - Product ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": {
                "id": 1,
                "name": "Wakaf Makanan Berbuka Puasa",
                "price": 500000,
                "description": "Wakaf untuk santri berbuka puasa",
                "stock": 100,
                "sold_count": 100,
                "created_at": "2022-02-13T07:01:00.000Z",
                "updated_at": "2022-02-13T07:01:00.000Z"
            },
            "meta": {
                "http_status": 200
            }
        }

## Product Images Collection [/products/{id}/images]

### Get Product Images [GET /products/{id}/images]

+ Parameters
    + id: 1 (number, required) - Product ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "product_id": 1,
                    "image_url": "wakaf_makanan2.png",
                    "order": 1,
                    "created_at": "2022-02-13T07:52:00.000Z",
                    "updated_at": "2022-02-13T07:52:00.000Z"
                }
            ],
            "meta": {
                "http_status": 200
            }
        }

## Carts Collection [/carts]

Cart is acceptable for both user and guest which guests can have their own cart.
To differentiate, use `Authorization` header below (`Token <TokenUser>` for logged-in user, OR `Guest <TokenGuest>` for non-logged-in user / guest).

### Get Cart Products [GET /carts{?page,per_page,selected_ids}]

+ Parameters
    + per_page: 10 (number, optional) - Number of requested records
    + page: 1 (number, optional) - The requested page number
    + selected_ids: 1,2,3 (array, optional) - Select specific IDs of cart -- This will ignore pagination

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>, Guest <TokenGuest>

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "product": {
                        "id": 1,
                        "name": "Wakaf Makanan Berbuka Puasa",
                        "price": 500000,
                        "description": "Wakaf untuk santri berbuka puasa",
                        "stock": 100,
                        "sold_count": 100,
                        "image": {
                            "id": 1,
                            "product_id": 1,
                            "image_url": "wakaf_makanan2.png",
                            "order": 1,
                            "created_at": "2022-02-13T07:52:00.000Z",
                            "updated_at": "2022-02-13T07:52:00.000Z"
                        },
                        "created_at": "2022-02-13T07:01:00.000Z",
                        "updated_at": "2022-02-13T07:01:00.000Z"
                    },
                    "quantity": 2
                }
            ],
            "meta": {
                "http_status": 200,
                "page": 1,
                "per_page": 10,
                "total": 1
            }
        }

### Add Product To Cart [POST /carts]

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>, Guest <TokenGuest>

    + Body

            {
                "product_id": 1,
                "quantity": 2
            }

+ Response 201 (application/json)

        {
            "notice": {
                "message": "Product added to cart successfuly"
            },
            "meta": {
                "http_status": 201
            }
        }

### Update Cart [PATCH /carts/{id}]

+ Parameters
    + id: 1 (number, required) - Cart ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>, Guest <TokenGuest>

    + Body

            {
                "quantity": 2
            }

+ Response 200 (application/json)

        {
            "notice": {
                "message": "Cart updated successfuly"
            },
            "meta": {
                "http_status": 200
            }
        }

### Remove Product From Cart [DELETE /carts/{id}]

+ Parameters
    + id: 1 (number, required) - Cart ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>, Guest <TokenGuest>

+ Response 200 (application/json)

        {
            "notice": {
                "message": "Product removed from cart successfuly"
            },
            "meta": {
                "http_status": 200
            }
        }

## Transactions Collection [/transactions]

### Create Transaction [POST /transactions]

This transaction creation doesn't implement stock locking. It can reduces stock to minus value.

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

    + Body

            {
                "donor_name": "Muhammad",
                "donor_phone_number": "081234567890",
                "donor_email": "muhammad@wakaf.id",
                "cart_ids": [1, 3, 8],
                "payment_method": "bank_transfer",
                "bank_name": "muamalat"
            }

+ Response 201 (application/json)

        {
            "data": {
                "id": 1,
                "transaction_number": "WKFTRX0000001",
                "donor_name": "Muhammad",
                "donor_phone_number": "081234567890",
                "donor_email": "muhammad@wakaf.id",
                "products": [
                    {
                        "id": 1,
                        "name": "Wakaf Makanan Berbuka Puasa",
                        "price": 500000,
                        "description": "Wakaf untuk santri berbuka puasa",
                        "quantity": 100,
                        "image_urls": [
                            "wakaf_makanan1.png",
                            "wakaf_makanan2.png"
                        ],
                        "state": "pending"
                    }
                ],
                "state": "pending",
                "created_at": "2022-02-13T07:01:00.000Z",
                "updated_at": "2022-02-13T07:01:00.000Z"
            },
            "meta": {
                "http_status": 201
            }
        }

### Get Transactions [GET /transactions{?page,per_page}]

+ Parameters
    + per_page: 10 (number, optional) - Number of requested records
    + page: 1 (number, optional) - The requested page number

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "transaction_number": "WKFTRX0000001",
                    "donor_name": "Muhammad",
                    "donor_phone_number": "081234567890",
                    "donor_email": "muhammad@wakaf.id",
                    "products": [
                        {
                            "id": 1,
                            "name": "Wakaf Makanan Berbuka Puasa",
                            "price": 500000,
                            "description": "Wakaf untuk santri berbuka puasa",
                            "quantity": 100,
                            "image_urls": [
                                "wakaf_makanan1.png",
                                "wakaf_makanan2.png"
                            ],
                            "state": "pending"
                        }
                    ],
                    "state": "pending",
                    "created_at": "2022-02-13T07:01:00.000Z",
                    "updated_at": "2022-02-13T07:01:00.000Z"
                }
            ],
            "meta": {
                "http_status": 200,
                "page": 1,
                "per_page": 10,
                "total": 1
            }
        }

### Get Transaction [GET /transactions/{id}]

+ Parameters
    + id: 1 (number, required) - Transaction ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": {
                "id": 1,
                "transaction_number": "WKFTRX0000001",
                "donor_name": "Muhammad",
                "donor_phone_number": "081234567890",
                "donor_email": "muhammad@wakaf.id",
                "products": [
                    {
                        "id": 1,
                        "name": "Wakaf Makanan Berbuka Puasa",
                        "price": 500000,
                        "description": "Wakaf untuk santri berbuka puasa",
                        "quantity": 100,
                        "image_urls": [
                            "wakaf_makanan1.png",
                            "wakaf_makanan2.png"
                        ],
                        "state": "pending"
                    }
                ],
                "state": "pending",
                "created_at": "2022-02-13T07:01:00.000Z",
                "updated_at": "2022-02-13T07:01:00.000Z"
            },
            "meta": {
                "http_status": 200
            }
        }

### Update Transaction State [PATCH /transactions/{id}/state]

+ Parameters
    + id: 1 (number, required) - Transaction ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

    + Body

            {
                "state": "processed"
            }

+ Response 200 (application/json)

        {
            "data": {
                "id": 1,
                "transaction_number": "WKFTRX0000001",
                "donor_name": "Muhammad",
                "donor_phone_number": "081234567890",
                "donor_email": "muhammad@wakaf.id",
                "products": [
                    {
                        "id": 1,
                        "name": "Wakaf Makanan Berbuka Puasa",
                        "price": 500000,
                        "description": "Wakaf untuk santri berbuka puasa",
                        "quantity": 100,
                        "image_urls": [
                            "wakaf_makanan1.png",
                            "wakaf_makanan2.png"
                        ],
                        "state": "pending"
                    }
                ],
                "state": "processed",
                "created_at": "2022-02-13T07:01:00.000Z",
                "updated_at": "2022-02-13T07:01:00.000Z"
            },
            "meta": {
                "http_status": 200
            }
        }

## Invoices Collection [/invoices]

### Get Invoices [GET /invoices{page,per_page,states}]

Benefit, for example: Tagian/Wakaf belum dibayar

+ Parameters
    + per_page: 10 (number, optional) - Number of requested records
    + page: 1 (number, optional) - The requested page number
    + states: ['pending'] (array, optional) - Select states to be filtered

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1,
                    "invoice_number": "WKF0000001INV",
                    "transaction_id": 1,
                    "amount": 50000,
                    "payment_method": "bank_transfer",
                    "payment_detail": {
                        "name": "Bank Muamalat",
                        "number": "01234567890",
                        "behalf": "Yayasan Wakaf"
                    },
                    "state": "pending",
                    "expire_time": "2022-02-14T07:01:00.000Z",
                    "payment_evidence_url": "bukti_transfer.jpg",
                    "created_at": "2022-02-13T07:01:00.000Z",
                    "updated_at": "2022-02-13T07:01:00.000Z"
                }
            ],
            "meta": {
                "http_status": 200,
                "page": 1,
                "per_page": 10,
                "total": 1
            }
        }

### Get Invoice By Transaction ID [GET /invoices/trx/{transaction_id_or_number}]

+ Parameters
    + transaction_id_or_number: 1 (number, required) - Transaction ID or Transaction Number

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

+ Response 200 (application/json)

        {
            "data": {
                "id": 1,
                "invoice_number": "WKFTRX0000001",
                "transaction_id": 1,
                "amount": 50000,
                "payment_method": "bank_transfer",
                "payment_detail": {
                    "name": "Bank Muamalat",
                    "number": "01234567890",
                    "behalf": "Yayasan Wakaf"
                },
                "state": "pending",
                "expire_time": "2022-02-14T07:01:00.000Z",
                "payment_evidence_url": "bukti_transfer.jpg",
                "created_at": "2022-02-13T07:01:00.000Z",
                "updated_at": "2022-02-13T07:01:00.000Z"
            },
            "meta": {
                "http_status": 200
            }
        }

### Update Invoice [PATCH /invoices/{id}]

+ Parameters
    + id: 1 (number, required) - Invoice ID

+ Request (application/json)
    + Headers

            Accept: application/json
            Authorization: Token <TokenUser>

    + Body

            {
                "payment_evidence_url": "bukti_transfer.jpg"
            }

+ Response 200 (application/json)

        {
            "notice": {
                "message": "Invoice updated successfuly"
            },
            "meta": {
                "http_status": 200
            }
        }